<div class="{{ styles.notification }}" type="{{ type }}">
    <div class="{{ styles.notification-icon }}"></div>
    <div class="{{ styles.notification-content }}">
        {{ text }}
    </div>
    {{{ button }}}
</div>
