<div class="centered-container {{ styles.centered-container__module }}">
    <div class="bg-dark {{ styles.centered-container__centered-block }}">
        {{#if title}}
            <h1>
                {{ title }}
            </h1>
        {{/if}}
        <p>
            {{ content }}
        </p>
    </div>
    <div class="{{ styles.centered-container__link }}">
        {{#if link}}
            {{{ link }}}
        {{/if}}
    </div>
</div>
