<div class="centered-container {{ styles.centered-container__module }}">
    <div class="bg-dark {{ styles.centered-container__centered-block }}">
        {{#if centeredTitle}}
            <h1>
                {{ centeredTitle }}
            </h1>
        {{/if}}
        <p>
            {{ centeredContent }}
        </p>
    </div>
    <div class="{{ styles.centered-container__link }}">
        {{#if linkProps}}
            {{> navlink linkProps }}
        {{/if}}
    </div>
</div>
