<div class="{{ styles.list }}">
    {{{ search }}}
    {{#if items}}
        <ul class="{{ styles.list__ul }}">
            {{#each items}}
                <li class="{{ styles.list__ul-item }}">
                    {{{ this }}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
</div>
