<div class="{{ styles.list }}">
    <div class="{{ styles.list__actions }}">
        {{{ search }}}
    </div>
    {{#if items}}
        <ul class="{{ styles.list__ul }}">
            {{#each items}}
                <li class="{{ styles.list__ul-item }}">
                    {{{ this }}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <div class="centered-container">
            No chats
        </div>
    {{/if}}
</div>
