<form class="{{ styles.primary-form }} {{ classForm }}">
    <h1 class="{{ styles.primary-form__title }}">
        {{ title }}
        {{{ disableButton }}}
    </h1>
    {{#each fields}}
        <div class="w-100 primary-form__input">
            {{{ this }}}
        </div>
    {{/each}}
    <div class="{{ styles.primary-form__buttons-container }}">
        {{{ button }}}
        {{#if link}}
            <div class="{{ styles.primary-form__link }}">
                {{{ link }}}
            </div>
        {{/if}}
    </div>
</form>
