<form class="{{ styles.primary-form }} {{ classForm }}">
    <h1 class="{{ styles.primary-form__title }}">
        {{ title }}
    </h1>
    {{#if imageSrc}}
        <img
            class="{{ styles.primary-form__image }} {{ classImage }}"
            src="{{ imageSrc }}"
            alt="form-img"
        />
    {{/if}}
    {{#each fields}}
        <div class="w-100 primary-form__input">
            {{{ this }}}
        </div>
    {{/each}}
    <div class="{{ styles.primary-form__buttons-container }}">
        {{{ button }}}
        {{#if link}}
            <div class="{{ styles.primary-form__link }}">
                {{{ link }}}
            </div>
        {{/if}}
    </div>
</form>
