<div class="w-100 {{ styles.dialog-wrapper }}">
    {{{ header }}}
    <div class="{{ styles.dialog-wrapper__message-box }}">
        {{#if messages}}
            {{!-- {{{ legend }}} --}}
            {{#each messages}}
                {{{ this }}}
            {{/each}}
        {{/if}}
    </div>
    {{{ field }}}
</div>
