<div class="bg-dark {{ styles.modal-background }}">
    <div class="{{ styles.modal-wrapper }}">
        <div class="{{ styles.cancel-button }}">
            {{{ button }}}
        </div>
        <h1>{{ title }}</h1>
        {{{ content }}}
    </div>
</div>
