<div class="w-100 {{ styles.list__item }} {{#if isSelected}}{{ styles.selected }}{{/if}}">
    <div class="{{ styles.list__item-avatar }}">
        {{{ avatar }}}
    </div>
    <div class="w-100 {{ styles.list__item-text }}">
        <div class="{{ styles.list__item-name__block }}">
            <h2 class="{{ styles.list__item-name }}">
                {{ name }}
            </h2>
            {{#if badge}}
                {{{ badge }}}
            {{/if}}
        </div>
        <div class="{{ styles.list__item-preview }}">
            {{ preview }}
        </div>      
    </div>
</div>
