<div class="{{ styles.sidebar__header }}">
    <div class="{{ styles.sidebar__header-avatar }}">
        {{{ avatar }}}
    </div>
    <div class="{{ styles.sidebar__header__name-block }}">
        <span class="{{ styles.sidebar__header__name }}">
            {{ login }}
        </span>
        <div class="{{ styles.sidebar__header__icon }}">
            {{{ profileButton }}}
            {{{ exitButton }}}
        </div>
    </div>
</div>
