<div class="w-100 {{ styles.legend-block }}">
    <span class="{{ styles.legend-block__line }}"></span>
    <time class="{{ styles.legend-block__text }}">
        {{ textLegend }}
    </time>
    <span class="{{ styles.legend-block__line }}"></span>
</div>
