<button
    class="{{ styles.iconed-btn }} {{#if bordered}}{{ styles.bordered }}{{/if}}"
    type={{ type }}
    data-size="{{ size }}"
>
    <div class="{{ styles.iconed-btn__icon }}" style="background-image: url({{ icon }})"></div>
</button>
