<div class="{{ styles.dialog-header }}">
    <div class="{{ styles.dialog-header__avatar-box }}">
        {{{ avatar }}}
        <h1 class="{{ styles.dialog-header__name }}">
            {{ title }}
        </h1>
    </div>
    <div class="dialog-header__menu-items">
        {{#each buttons}}
            {{{ this }}}
        {{/each}}
    </div>
</div>
