<div class="bg-dark {{ styles.message-block }} {{ moduleClass }}">
    <p class="{{ styles.message-block__content }}">
        {{ contentMessage }}
    </p>
    <time class="{{ styles.message-block__time }}">
        {{ timeMessage }}
    </time>
</div>
