<div class="bg-dark {{ styles.message-block }}" type="{{ type }}">
    <p class="{{ styles.message-block__content }}">
        {{ content }}
    </p>
    <time class="{{ styles.message-block__time }}">
        {{ time }}
    </time>
</div>
